.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* Create */
form {
  text-align: left;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
legend {
  text-align: center;
}
/* Recipe */

.recipe {
  margin-bottom: 50px;
}
